form.comment-form {
  width: 100px;
}

.comment-form-button {
  width: 100px;
}

.comment-submit {
  width: 135px;
  height: 25px;
  text-align: center;
  padding: 0;
}

.comment-button-container {
  display: flex;
}

.comment-profile {
  min-height: 2em;
}

.comment-profile .comment-profile-image {
  margin-top: 0.4em;
  margin-left: 0;
  height: 40px;
  width: 40px;
}

.comment-profile a h2 {
  font-size: 14px;
  margin-left: 0.2em;
}

.comment-profile p {
  font-size: 12px;
  margin-left: auto;
}

.comment-text {
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: left;
}

.comment-edit-btn,
.comment-delete-btn {
  height: 25px;
  width: 50px;
  padding: 0;
  text-align: center;
}
.comment-delete-btn {
  width: 60px;
}
