.explore-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Thumbnail styling */
.explore-container .post {
  width: 48%;
}
.explore-container .post .post-image {
  height: 10em;
  overflow: hidden;
  transition: transform 0.5s;
}
.explore-container .post .post-image img {
  object-fit: cover;
  width: 100%;
  height: 10em;
}
.explore-container .post .post-image:hover {
  cursor: pointer;
  scale: 1;
  transform: scale(1.1);
  box-shadow: rgba(63, 63, 63, 0.527) 3px 3px 10px;
}

/* Full post styling */
.full-post {
  background-color: #ffffff;
  display: none;
  position: fixed;
  top: 20%;
  left: 12%;
  width: 75%;
  font-size: 0.9em;
}
.full-post-show {
  display: block;
  z-index: 3;
}
.full-post header {
  padding-top: 0;
}
.full-post h2 {
  font-size: 1em;
}
.explore-container .post .full-post .post-image {
  height: 18em;
}
.explore-container .post .full-post .post-image img {
  object-fit: cover;
  width: 100%;
  height: 18em;
}
.full-post .profile-image {
  width: 3em;
  height: 3em;
}
.date {
  font-size: 0.8em;
}
.close-button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0.5em 0.1em;
}
.close {
  height: 1.5em;
}

@media only screen and (min-width: 900px) {
  .explore-container .post .post-image {
    height: 20em;
  }
  .explore-container .post .post-image img {
    height: 20em;
  }
}
