form {
  margin: 0 1.5em;
}
.form-group {
  margin: 1em 0;
}
.form-group > * {
  display: block;
}
label {
  text-align: left;
}
input {
  width: 100%;
  height: 2.5em;
  border: 0.5px solid #ccc;
  padding-left: 0.5em;
  margin: 0.5em 0;
}
small {
  font-style: italic;
}
textarea {
  width: 30em;
  height: 10em;
  font-size: 1em;
  width: 100%;
  border: 0.5px solid #cccccc;
  padding: 0.5em;
}
input[type="file"] {
  font-size: 0.9em;
  padding: 0.5em;
}
.follow-form {
  margin-top: 1em;
}

@media only screen and (min-width: 900px) {
  form {
    width: 20em;
    margin: 0 auto;
  }
  input[type="file"] {
    font-size: 1em;
  }
}
