* {
  box-sizing: border-box;
}
body {
  background-color: #fcfaf9;
  font-family: "Roboto", sans-serif;
  width: 100vw;
}
h3 {
  margin: 0;
  border-bottom: 0.5px solid #cccccc;
}
.container {
  width: 100vw;
  padding: 1em;
  margin: 4em auto;
  text-align: center;
}
.instruction {
  font-style: italic;
}
.big-logo {
  display: block;
  width: 12em;
  margin: 6em auto 4em;
}
.bold {
  font-weight: 900;
}

/* Links */
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #3e779d;
}

/* Buttons */
.button {
  border-top: 1px solid #96d1f8;
  background: #65a9d7;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#3e779d),
    to(#65a9d7)
  );
  background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
  background: -moz-linear-gradient(top, #3e779d, #65a9d7);
  background: -ms-linear-gradient(top, #3e779d, #65a9d7);
  background: -o-linear-gradient(top, #3e779d, #65a9d7);
  padding: 10px 20px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  border-radius: 13px;
  -webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
  -moz-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
  box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
  text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;
  color: white;
  font-size: 20px;
}
.button:hover {
  border-top-color: #407599;
  background: #407599;
  color: #fafafa;
}
.button:active {
  border-top-color: #1b435e;
  background: #1b435e;
}
.followers-button,
.following-button {
  border-top: 1px solid #e2c38a;
  background: #d7b365;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#9d873e),
    to(#d7b365)
  );
  background: -webkit-linear-gradient(top, #9d873e, #d7b365);
  background: -moz-linear-gradient(top, #9d873e, #d7b365);
  background: -ms-linear-gradient(top, #9d873e, #d7b365);
  background: -o-linear-gradient(top, #9d873e, #d7b365);
}
.followers-button:hover,
.following-button:hover {
  border-top-color: #997540;
  background: #997240;
  color: #fafafa;
}
.followers-button:active,
.following-button:active {
  border-top-color: #5e391b;
  background: #5e391b;
}
.like:hover,
.dislike:hover {
  cursor: pointer;
}
/* Show and hide is used in javascript to show and hide elements on click */
.hide {
  display: none;
}
.show {
  display: initial;
}

/* Errors and messages */
.error {
  background-color: rgb(250, 201, 201);
  border: 1px solid rgb(241, 179, 179);
  color: #5e2f2f;
  border-radius: 1em;
  padding: 0.3em;
  margin: 1em;
}
.message {
  background-color: rgb(201, 250, 207);
  border: 1px solid rgb(179, 241, 182);
  color: #315e2f;
  border-radius: 1em;
  padding: 0.3em;
  margin: 1em;
}

@media only screen and (min-width: 900px) {
  .container {
    width: 45%;
    margin: 7em auto 5em;
  }
  .big-logo {
    width: 20em;
    margin-top: 10em;
  }
  article h1 {
    font-size: 2.3em;
  }
}
