body {
  background-color: #fcfaf9;
  font-family: 'Roboto', sans-serif;
}
.hide {
  display: none;
}
.show {
  display: initial;
}
.post-image {
  width: 30em;
}
.container {
  width: 100%;
  padding: 3em;
  margin: 8em auto;
}
a {
  color: #000;
  text-decoration: none;
}
