.main-navbar {
  position: fixed;
  z-index: 1;
  top: 0;
  height: 4em;
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 1em;
  background-color: #fff;
  border-bottom: 0.1px solid #ccc;
  justify-content: space-between;
}

.menu-items {
  display: none;
}
.menu-items ul {
  margin-top: 1.5em;
}
.menu-items ul li {
  margin: 1em;
  font-size: 1.1em;
}

.logo {
  height: 1.2em;
}

/* Hamburger icon */
.hamburger-icon {
  width: 2em;
  z-index: 2;
  position: absolute;
  right: 1.2em;
}
.bar1,
.bar2 {
  width: 2.2em;
  border-radius: 1em;
  height: 0.2em;
  background-color: #000;
  transition: 0.3s;
}
.bar2 {
  margin-top: 0.6em;
}

/* Class "change" turns hamburgerIcon to a cross when clicked */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-1em, 0.5em);
  transform: rotate(-45deg) translate(-0.5em, 0.1em);
}
.change .bar2 {
  -webkit-transform: rotate(45deg) translate(-1em, -0.5em);
  transform: rotate(45deg) translate(-0.5em, -0.1em);
}

/* Class "show-menu" makes menu items visible when hamburger-icon is clicked */
.show-menu {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 50vw;
}

/* change the menu's background when hamburger-icon is clicked */
.change-background {
  display: flex;
  justify-content: flex-end;
  padding: 1em 1em 0 0;
  background-color: #fff;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  width: 50vw;
  height: 30vh;
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  animation: drop-down 1s forwards;
  -webkit-animation: drop-down 1s forwards;
}

/* Animations on mobile menu */
@keyframes drop-down {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@-webkit-keyframes drop-down {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

/* Nav menu in desktop */
@media only screen and (min-width: 900px) {
  .menu-items {
    display: block;
    position: absolute;
    top: 0;
    right: 0.5em;
  }
  .menu-items ul li {
    display: inline-block;
  }
  .menu-items ul {
    margin: 0;
  }

  .logo {
    height: 1.4em;
  }

  .hamburger-icon {
    display: none;
  }
}
