/* posts */
.post {
  background-color: #ffffff;
  border: 0.5px solid #cccccc;
  text-align: left;
  margin-bottom: 2em;
}
.post header {
  padding: 1em 1em 0;
}
.post header h2 {
  margin: 0.5em;
  display: inline-block;
}
.post header p {
  margin: 0;
  text-align: right;
}
.caption-container {
  padding: 0 1em;
  width: 100%;
}
.likes-container {
  margin-top: 0.5em;
  display: flex;
  align-items: center;
}
.like-counter {
  margin: 0;
}
.likes-container > * {
  display: inline-block;
}
.profile-image {
  border-radius: 50%;
  width: 4em;
  height: 4em;
  display: inline-block;
  object-fit: cover;
}

/* post images */
.post-image {
  margin: 0 auto;
  width: 100%;
  height: 23em;
  overflow: hidden;
}
.post-image img {
  object-fit: cover;
  width: 100vw;
  height: 100vw;
}

/* Posts in desktop */
@media only screen and (min-width: 900px) {
  .post {
    width: 80%;
    margin: 0 auto 2em;
  }
  .post-image {
    height: 30em;
  }
  .post-image img {
    object-fit: cover;
    width: 40vw;
    height: 40vw;
  }
}
