.profile {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  min-height: 12em;
  max-width: 30em;
  margin: 0 auto;
}
.profile .profile-picture {
  width: 6em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.biography {
  display: inline-block;
  margin: 0 1em;
  max-width: 55%;
  padding: 0.5em 0;
}
.biography > * {
  margin: 0;
}
.profile img {
  width: 6em;
  height: 6em;
}

/* Buttons in the profile header */
.profile-buttons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}
.profile-buttons .follow-form {
  margin: 0;
}
.small-button {
  width: 7em;
  height: 2em;
  font-size: 14px;
  padding: 5px;
  margin: 0;
  display: block;
}
.smaller-button {
  width: 5em;
  font-size: 14px;
  padding: 5px;
  display: block;
}

/* Lists of followers and followings */
.follow-lists {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
}
.follow-lists .followers-button,
.follow-lists .following-button {
  margin: 0;
}
.followers-list,
.following-list {
  display: none;
  position: fixed;
  z-index: 3;
  top: 40%;
  left: 30%;
  background-color: #ffffff;
  max-width: 20em;
  min-width: 10em;
  min-height: 10em;
  padding: 1em;
  border-radius: 10%;
  border: 0.5px solid #cccccc;
  list-style-type: none;
  text-align: left;
}

/* Post caption container */
.caption-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.caption {
  display: block;
  width: 100%;
}
.hide {
  display: none;
}
.forms {
  margin-top: 1em;
}

/* delete and edit form */
.caption-container form {
  display: inline-block;
  width: 5em;
  margin: 0.5em 0;
}
.caption-container .edit-mode {
  display: block;
  width: 70vw;
}
.description-textarea {
  margin-top: 1em;
  background-color: #fdfcfc;
}

/* This form appear when you click on the first delete button */
.caption-container .delete {
  display: none;
  position: fixed;
  z-index: 3;
  top: 40%;
  left: 25%;
  background-color: #ffffff;
  width: 12em;
  height: 10em;
  padding: 1em;
  border-radius: 10%;
  border: 0.5px solid #cccccc;
}
.caption-container .forms .smaller-button {
  display: inline-block;
}
/* Add .delete-show to display delete form */
.caption-container .show,
.follow-lists .show {
  display: block;
}

@media only screen and (min-width: 900px) {
  .caption-container .delete {
    top: 40%;
    left: 43%;
  }
  .followers-list,
  .following-list {
    top: 40%;
    left: 45%;
  }
  .profile .profile-picture .follow-form {
    width: 80%;
  }
  .forms .edit textarea {
    display: block;
    margin: 1em;
    width: 25em;
  }
}
