.profile {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  min-height: 12em;
  max-width: 30em;
  margin: 0 auto;
}
.profile .profile-picture {
  width: 6em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.biography {
  display: inline-block;
  margin: 0 1em;
  max-width: 55%;
  padding: 0.5em 0;
}
.biography > * {
  margin: 0;
}
.profile img {
  width: 6em;
  height: 6em;
}
.small-button {
  width: 7em;
  font-size: 14px;
  padding: 5px;
  margin: 1em 0;
  display: block;
}
.smaller-button {
  width: 5em;
  font-size: 14px;
  padding: 5px;
  display: block;
}
.follow-lists {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.follow-lists .followers-button {
  margin-right: 1em;
}
.followers-list,
.following-list {
  display: none;
  position: fixed;
  z-index: 3;
  top: 40%;
  left: 30%;
  background-color: #ffffff;
  max-width: 20em;
  min-width: 10em;
  min-height: 10em;
  padding: 1em;
  border-radius: 10%;
  border: 0.5px solid #cccccc;
  list-style-type: none;
  text-align: left;
}
.description-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.description {
  display: block;
  width: 100%;
}
.hide {
  display: none;
}

/* delete and edit form */
.description-container form {
  display: inline-block;
  width: 5em;
  margin: 0.5em 0;
}
.description-container .edit-mode {
  display: block;
  width: 70vw;
}
.description-textarea {
  margin-top: 1em;
  background-color: #fdfcfc;
}

/* This form appear when you click on the first delete button */
.description-container .delete {
  display: none;
  position: fixed;
  z-index: 3;
  top: 40%;
  left: 25%;
  background-color: #ffffff;
  width: 12em;
  height: 10em;
  padding: 1em;
  border-radius: 10%;
  border: 0.5px solid #cccccc;
}
.description-container .forms .smaller-button {
  display: inline-block;
}
/* Add .delete-show to display delete form */
.description-container .show,
.follow-lists .show {
  display: block;
}
/* Background that appears when showing delete form or followers/following lists */
.background {
  display: none;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.24);
}
.background-show {
  display: block;
}

@media only screen and (min-width: 900px) {
  .description-container .delete {
    top: 40%;
    left: 43%;
  }
  .followers-list,
  .following-list {
    top: 40%;
    left: 45%;
  }
  .profile .profile-picture .follow-form {
    width: 80%;
  }
}
