.upload-post form {
  margin: 0;
}
.upload-post form .post-image {
  border: 1px solid #cccccc;
}

@media only screen and (min-width: 900px) {
  .upload-post {
    width: 100%;
  }
  .upload-post form {
    width: 80%;
    margin: 0 auto;
  }
  .upload-post form .post-image {
    margin: 1em 0;
  }
}
